/* login */

body.login {
    background: url(../img/backgroung.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    background-size: cover;
    overflow-x: hidden;
}


.row.login{
    margin: 0;
             
}

.superior {
    height: 100px;
}

.encabeza-login {
    background-color: #0E355A;
    height: 150px;
}

form.form-signin.login {
    padding: 4%;
    background-color: #D8D8D7;
    border-radius: 0px 0px 8px 8px;
}

.form-control:focus{
    border-color: transparent;
    box-shadow: none !important;
    box-sizing: border-box;
    
}

.form-control {
    border: none;
    margin-top: 15px;
    margin-bottom: 15px;
    height: 50px;
    border-radius: 0px;
}

button.btn{
    border-radius: 0px;
    background-color: #3dad27;
    border-color: transparent;
}

button.btn:hover{
    border-radius: 0px;
    background-color: #74fc59;
    border-color: transparent;
}

img.tgocircle {
    position: relative;
    z-index: 1;
    width: 30%;
    bottom: 60px;    
}

/*.creaequipo #logincampos{
    display: none;
}*/


p.titulo{
    margin-top: -40px;
    font-weight: 600;
    color: white;
}

input[type='checkbox']{
    margin: 10px !important;
}

ul.menu{
    margin-top: 30px;
    padding: 0;
    list-style-type: none;
}

li.comment-link{
    
    color: #0E355A;
    font-weight: 600;
}

/* Quita las viñetas de las listas */

ol,ul {
    list-style:none;
}

/* Terminos y Condiciones */

p.terminosycond{
text-align: justify;
text-justify: inter-word;
}

.terminosycondiv{
    background-color: white;
    padding: 65px;
    border-radius: 50px;
}

/* Modal Alerta */

div#alert p{
    text-align: left;
    max-width: 195px;
    margin: 0 auto;
    display: none; 
}

div.background-alert-form {
    width: 100%;
    position: fixed;
    bottom: 4%;
    background-color: rgba(104, 104, 104, 0.9);
    top: 0;
    height: 100%;
    padding-top: 5%;
    display: none;
    z-index: 997;
    left: 0%; 
}

div.alert {
    padding: 20px;
    width: 400px;
    height: auto;
    background-color: #2F74BA;
    color: #ffff;
    position: fixed;
    left: 50%;
    margin-left: -200px;
    top: 50%;
    margin-top: -100px;
    display: none;
    z-index: 998;
    box-sizing: border-box;
}

div#alert p {
text-align: justify;
max-width: 300px;
margin: 0 auto;
}

i#alertaic {
    margin: auto;
    display: table;
    font-size: 46px;
    color: #0E355A;
}

/* Dashboard User */

#logotgomin {

    width: 36%;
    padding: 10px;

}

#contlogotgomin{
    background-color: #2F74BA;
}

#contnombreusuario{
    background-color: #0E355A;
    color: white;
}

#iconusuario {
    font-size: 30px;
    box-sizing: border-box;
    margin-top: 40%;
}

#contnombreuser p{
    margin-top: 7%;
}

#fechausuario p{
    margin-top: 18%;
}

.dashboardusr{
    overflow-x: hidden;
}

#contmenu{
    background-color: #D8D8D7; 
}

.contitem{
    border-left: 5px solid #2F74BA;
}

div.contitem p {
    padding: 20px;
    margin: 0px !important;
    text-align: left;    
}

div.contitem:hover{
    background-color: #0E355A;
    color: white;
    transition: 0.5s;
    width: 100%;
}

.titulote {
    background-color: #0E355A;
    color: white;
    
}

.teamlist, .copalist {
    width: 100%;
    border: 1px solid #2F74BA;
    background-color: #2F74BA;
    color: white;
}

.tituloteam {
    margin: 0;
    margin-left: 5px;
}

.infoqeuipo.row {
    margin-top: 15px;
}

.equipo {
    background-color: #D8D8D7;
}

.fichajug {
    width: 15%;
    background-color: #C3C3C3;
    text-align: center;
    padding: 10px 0px 0px 0px;
    margin-right: 5px;
    display: inline-block;  
}

.fichajug .fas.fa-user {
    font-size: 40px;
}

.fichajug p{
    line-height: 16px;
     
}

.tituloequipo p{
    padding-top: 5px;
}

.contencuentro{
    background-color: #C3C3C3;
}

.rival {
    padding: 15px;
}
.rival img {
    width: 45%;
}

.fechaencuentro {
    margin-top: 12px;
}

.fechaencuentro, .canchaencuentro, .direccionencuentro {
    margin-left: 12px;
}

.vs{
    margin-top: 32px;
    font-size: x-large;
    color: #0e355a;
    font-weight: 600;   
}

.canchaencuentro span {
    background: #0e355a;
    color: white;
    padding: 2px;
}

.titulotecrea{
    text-align: center;
    background-color: #3dad27;
    font-weight: 600;
    color: white;
}

.titulotecrea a{
    color: inherit;
    height: 50px;
}

.titulotecrea:hover{
    background-color: #74fc59;
    color: inherit;
    transition: 0.5s;
}

/* Crear Equipo */

.creaequipo{
    margin-top: 12px;
}

/* Crear torneo */

input.marcador {
    width: 50px;
}

/* Menu */

.contitem a, .cerrarse a{

    color: inherit;

}

.cerrarse{
    background-color: #0e355a;
    color: white;
    margin-top: 50px;
}    

.cerrarse i, .cerrarse p{
    margin-top: 10px;
}

.cerrarse p{
    margin-bottom: 10px;
}

span.elimina{
    background-color: #E21225;
    color: white;
    display: block;
}