<div class="titulote"><p class="tituloteam">AGREGA LOS JUGADORES</p></div>

                        <div class="equipo">
                                <div class="tituloequipo"><p>ARQUEROS</p></div>
                                <select class="teamlist">
                                        <option value="Camilo Guio">Busca tu Arquero</option>
                                        <option value="Camilo Guio">Camilo Guio</option>
                                        <option value="David Estupiñan">David Estupiñan</option>
                                        <option value="Edwin Ocampo">Edwin Ocampo</option>
                                        <option value="David Vera">David Vera</option>
                                </select>
                        

                                <div class="equipo">
                                        <div class="tituloequipo"><p>ARQUEROS</p></div>
                                        <div class="fichajug">
                                            <i class="fas fa-user"></i>
                                            <p>Nombre Jugador</p>
                                            <a href=""><span class="elimina">Eliminar</span></a>
                                        </div>
                                        
                                    </div>
                            </div>
        
                            <div class="equipo">

                                    <div class="tituloequipo"><p>DEFENSAS</p></div>

                                    <select class="teamlist">
                                            <option value="Camilo Guio">Busca tu Defensa</option>
                                            <option value="Camilo Guio">Camilo Guio</option>
                                            <option value="David Estupiñan">David Estupiñan</option>
                                            <option value="Edwin Ocampo">Edwin Ocampo</option>
                                            <option value="David Vera">David Vera</option>
                                    </select>

                                    <div class="fichajug">
                                        <i class="fas fa-user"></i>
                                        <p>David Vera</p>
                                    </div>
                                    <div class="fichajug">
                                            <i class="fas fa-user"></i>
                                            <p>David Vera</p>
                                    </div>
                                    <div class="fichajug">
                                            <i class="fas fa-user"></i>
                                            <p>David Vera</p>
                                    </div>
                                    <div class="fichajug">
                                            <i class="fas fa-user"></i>
                                            <p>David Vera</p>
                                    </div>
                            </div>
        
                            <div class="equipo">
                                <div class="volantes">
                                        <div class="tituloequipo"><p>VOLANTES</p></div>

                                        <select class="teamlist">
                                                <option value="Camilo Guio">Busca tu Volante</option>
                                                <option value="Camilo Guio">Camilo Guio</option>
                                                <option value="David Estupiñan">David Estupiñan</option>
                                                <option value="Edwin Ocampo">Edwin Ocampo</option>
                                                <option value="David Vera">David Vera</option>
                                        </select>

                                        <div class="fichajug">
                                            <i class="fas fa-user"></i>
                                            <p>Camilo Guio</p>
                                        </div>
                                        <div class="fichajug">
                                                <i class="fas fa-user"></i>
                                                <p>Camilo Guio</p>
                                        </div>
                                        <div class="fichajug">
                                                <i class="fas fa-user"></i>
                                                <p>Camilo Guio</p>
                                        </div>
                                        <div class="fichajug">
                                                <i class="fas fa-user"></i>
                                                <p>Camilo Guio</p>
                                        </div>
                                </div>
                            </div>
        
                            <div class="equipo">
                                <div class="volantes">
                                        <div class="tituloequipo"><p>DELANTEROS</p></div>

                                        <select class="teamlist">
                                                <option value="Camilo Guio">Busca tu Delantero</option>
                                                <option value="Camilo Guio">Camilo Guio</option>
                                                <option value="David Estupiñan">David Estupiñan</option>
                                                <option value="Edwin Ocampo">Edwin Ocampo</option>
                                                <option value="David Vera">David Vera</option>
                                        </select>

                                        <div class="fichajug">
                                            <i class="fas fa-user"></i>
                                            <p>Edwin Ocampo</p>
                                        </div>
                                        <div class="fichajug">
                                                <i class="fas fa-user"></i>
                                                <p>Edwin Ocampo</p>
                                        </div>
                                        <div class="fichajug">
                                                <i class="fas fa-user"></i>
                                                <p>Edwin Ocampo</p>
                                        </div>
                                        <div class="fichajug">
                                                <i class="fas fa-user"></i>
                                                <p>Edwin Ocampo</p>
                                        </div>
                                </div>
                            </div>