<div class="titulote"><p class="tituloteam">DILIGENCIA LA SIGUIENTE INFORMACIÓN DE TU EQUIPO</p></div>

<form class="form-signin login text-center">
                    
        <div id="logincampos">
          <h2 class="form-signin-heading"></h2>
          <input type="text" id="inputEmail" class="form-control" placeholder="Nombre de tu equipo" required autofocus="">
          <form action=""> <input type="file" name="fileupload" value="fileupload" id="fileupload"> <label for="fileupload"> Selecciona el logo de tu equipo a subir</label> <br>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Subir Logo</button> </form>
        </div>
           
        <button class="btn btn-lg btn-primary btn-block" type="submit">Crear Equipo</button>      
        
</form>