

    <div class="row">

        <div id="contlogotgomin" class="col-sm-2 col-md-2 col-lg-2 text-center">

            <img id="logotgomin" src="img/logomintgo.png" alt="TournamentGo">

        </div>
        
        <div id="contnombreusuario" class="col-sm-8 col-md-10 col-lg-10">

            <div class="row">

                    <div id="nombreusuario" class="col-sm-10 col-md-10 col-lg-10 text-left">
                      <div class="row">    
                        <div class="col-sm-1 col-md-1 col-lg-1"><i id="iconusuario" class="far fa-user"></i></div>
                        <div id="contnombreuser" class="col-sm-5 col-md-5 col-lg-5 text-left"><p>Camilo Guio</p></div>
                        <div class="col-sm-6 col-md-6 col-lg-6"></div>
                      </div>  
                    </div>
                    <div id="fechausuario" class="col-sm-2 col-md-2 col-lg-2 text-left">
                        <p>27 de mayo de 2018</p>
                    </div>

            </div>
        </div>
        

    </div>
