<script src="js/jquery-3.3.1.min.js"></script>
<script src="js/angular.min.js"></script>
<script src="js/select2.min.js"></script>
<script src="js/app.js"></script>
<script src="js/angular-route.min.js"></script>    
<script src="js/main.js"></script>
<script src="js/bootstrap.min.js"></script>